body {
	font-family: 'intercom-font', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	background-image: url('/img/background.png');
	background-size: 417px 417px;
	background-repeat: repeat;
}

.box {
	float: left;
	width: 100px;
	height: 100px;
	border: 1px solid #000;
	transition: all 0.25s ease-in-out;
	font-size: 85px;
	text-align: center;
	line-height: 100px;
	cursor: pointer;
}

.box:hover {
	background: rgb(174, 244, 255);
	color: rgb(108, 108, 108);
}

.win {
	background: #48ceff;
	color: rgb(0, 94, 255);
}

.container-grid {
	width: 300px;
	overflow: hidden;
	margin: 0px auto;
}

.avatar {
	width: 100px;
	height: 100px;
	border-radius: 50%;
}

.player {
	position: relative;
	max-width: 500px;
	margin: 0 auto;
}

.horizontal .winner {
	position: relative;
	color: red;
}

.horizontal .winner::after {
	content: '';
	position: absolute;
	width: 100%;
	height: 3px;
	background-color: #000;
	display: block;
	top: 50%;
}

.horizontal .winner:nth-child(3n + 1):after {
	content: '';
	border-top-left-radius: 12px;
	border-bottom-left-radius: 12px;
}

.horizontal .winner:nth-child(3n + 3):after {
	content: '';
	border-top-right-radius: 12px;
	border-bottom-right-radius: 12px;
}

.vertical .winner {
	position: relative;
	color: red;
}

.vertical .winner::after {
	content: '';
	position: absolute;
	height: 100%;
	width: 3px;
	background-color: #000;
	display: block;
	left: 50%;
	top: 0;
}

.vertical .winner:nth-child(1):after {
	content: '';
	border-top-left-radius: 12px;
	border-top-right-radius: 12px;
}
.vertical .winner:nth-child(2):after {
	content: '';
	border-top-left-radius: 12px;
	border-top-right-radius: 12px;
}
.vertical .winner:nth-child(3):after {
	content: '';
	border-top-left-radius: 12px;
	border-top-right-radius: 12px;
}

.vertical .winner:nth-child(1n + 7):after {
	content: '';
	border-bottom-left-radius: 12px;
	border-bottom-right-radius: 12px;
}

.leftSlash .winner {
	color: red;
}

.leftSlash {
	position: relative;
}

.leftSlash::after {
	content: '';
	position: absolute;
	height: 3px;
	width: 139%;
	background-color: #000;
	display: block;
	left: 0;
	top: 0;
	transform: rotate(45deg) translate(63px, 148px);
	border-radius: 12px;
}

.rightSlash .winner {
	color: red;
}

.rightSlash {
	position: relative;
}

.rightSlash::after {
	content: '';
	position: absolute;
	height: 3px;
	width: 139%;
	background-color: #000;
	display: block;
	right: 0;
	top: 0;
	transform: rotate(-45deg) translate(-63px, 148px);
	border-radius: 12px;
}

.coin-img {
	height: 80px;
	width: 80px;
	margin: 10px auto;
	display: block;
}

.avatar-upload {
	position: relative;
	max-width: 205px;
	margin: 50px auto;
}

.avatar-preview {
	width: 192px;
	height: 192px;
	position: relative;
	border-radius: 100%;
	border: 6px solid #f8f8f8;
	box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}

.avatar-preview > img {
	width: 100%;
	height: 100%;
	border-radius: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.avatar-edit {
	position: absolute;
	right: 12px;
	z-index: 1;
	top: 10px;
}

.avatar-edit input {
	display: none;
}

.avatar-edit input + label {
	display: inline-block;
	width: 34px;
	height: 34px;
	margin-bottom: 0;
	border-radius: 100%;
	background: #ffffff;
	border: 1px solid transparent;
	box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
	cursor: pointer;
	font-weight: normal;
	transition: all 0.2s ease-in-out;
}

.avatar-edit input + label:hover {
	background: #f1f1f1;
	border-color: #d6d6d6;
}
.avatar-edit input + label::after {
	content: '\f040';
	font-family: 'FontAwesome';
	color: #757575;
	position: absolute;
	top: 5px;
	left: 0;
	right: 0;
	text-align: center;
	margin: auto;
}

.room .avatar {
	width: 40px;
	height: 40px;
	border-radius: 100%;
}

.room .default-avatar {
	font-size: 40px;
}

.room .playerName {
	margin-left: 10px;
}

.game .avatar {
	border-radius: 100%;
	border: 6px solid #f8f8f8;
	box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
	margin-bottom: 4px;
}

.crown {
	position: absolute;
	left: 40px;
	top: 0;
	border-radius: 100%;
	background-color: #f8f8f8;
	box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
	color: #ffd301;
	height: 25px;
	width: 25px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.settings {
	margin: 0 auto;
}
